html, body {
    background-color: #303030;
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.logo {
    min-width: 130px;
    max-width: 180px;
    padding: 1.5% 6%;
}
header {
    background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("https://assets.nflxext.com/ffe/siteui/vlv3/59e045df-814d-4342-bf9d-e62ba23e916a/647d81ad-194d-4994-994c-46a4a0886291/EC-es-20220418-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    height: 700px;
    width: 100%;
    background-color: black;
    font-weight: bold;
}
header h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}
header p {
    text-align: center;
    font-size: 25px;
    margin-top: -20px;
    font-weight: 500;
}
header section p {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}
header form {
    display: flex;
    justify-content: center;
}
header form input {
    padding: 18px;
    width: 35%;
}
header form label {
    padding: 18px;
    width: 10%;
    background-color: #db0000;
    text-align: center;
    font-size: larger;
}
header form label:hover {
    padding: 18px;
    width: 10%;
    background-color: #e60000;
    text-align: center;
    font-size: larger;
}
section article {
    background-color: black;
    margin-top: 7px;
    display: flex;
    width: 100%;
    height: 470px;
}
section article .left-text {
    padding: 70px 0 80px 70px;
    flex: 50%;
    width: 100%;
    margin: auto;
    float: right;
    justify-self: right;
}
section article .left-text h2 {
    font-size: 48px;
}
section article .left-text p {
    margin-top: -15px;
    font-size: 25px;
}
section article .right-image {
    padding: 40px 0 80px 70px;
    flex: 50%;
    width: 100%;
    margin: auto;
    float: left;
}
section article .right-image img {
    width: 500px;
}
section article .right-text {
    padding: 70px 0 80px 70px;
    flex: 50%;
    width: 100%;
    margin: auto;
    float: right;
    justify-self: left;
}
section article .right-text h2 {
    font-size: 48px;
}
section article .right-text p {
    margin-top: -15px;
    font-size: 25px;
}
section article .left-image {
    padding: 40px 0 80px 70px;
    flex: 50%;
    width: 100%;
    margin: auto;
    float: right;
}
section article .left-image img {
    width: 500px;
}

