* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-static {
    position: static; /* Static is by default */
    width: 500px;
    height: 500px;
    text-align: center;
    color: royalblue;
    background-color: aquamarine;
}
.container-static p {
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    color: indigo;
}