body {
    background-color: lightgreen;
}

h1 {
    background-color: #add8e6;
}

p {
    background-color: hsl(0, 79%, 72%);
}

section {
    background-color: hsl(0, 0%, 83%);
}

div {
    height: 100px;
    background-color: rgba(250, 250, 209, 0.8);
}