.container {
    width: 300px;
    height: 100px;
    background-color: gray;
    margin: 0 auto;
    text-align: center;
}

.container:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}

 button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(194, 194, 194);
}

button:hover {
    background-color: rgb(45, 45, 45);
    color: white;
}