@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Mukta:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000;
}

header {
    padding: 20px 0;
    margin: auto;
}

.main-logo {
    width: 20vh;
    margin: auto;
    display: block;
}


nav {
    margin: 18px 0px;
    padding: 20px;
    background-color: #fff;
}

nav ul {
    max-width: 850px;
    margin: 0 auto;
}

nav ul li {
    margin: 12px 0;
    display: inline-block;
    text-align: center;
}

nav ul li a {
    padding: 10px 30px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Koulen', cursive;
    font-size: 25px;
    font-weight: bolder;
}

nav ul li a:hover {
    color: #fff;
    background-color: #000;
    border-radius: 15px;
}

.get-back-disney-plus {
    padding: 2vh;
    margin-bottom: 70px;
    color: white;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.description-get-back {
    max-width: 40%;
    padding: 0px 6vh;
}

.description-get-back h2 {
    width: 180px;
    margin-bottom: 10px;
    font-size: 40px;
    border-bottom: 2px solid;
}

.video-get-back {
    width: 500px;
    height: 315px;
}

.spotify-songs {
    padding-bottom: 5%;
    width: 85%;
    margin: auto;
    border-radius: 15px;
    color: #fff;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.spotify-songs h2 {
    padding: 30px;
    font-family: 'Mukta', sans-serif;
    font-size: 40px;
    text-align: center;
}


.spotify-songs article {
    width: 100%;
    margin: auto;
    padding: 0 7vh;
    text-align: center;
}

.spotify-songs article iframe {
    width: 300px;
    height: 300px;
}

footer {
    padding: 50px;
    color: #fff;
    text-align: center;
}