* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 219, 219);
}

main {
    display: flex;
    flex-direction: row;
}

section {
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: center;
    border: 1px solid;
    padding: 20px;
    margin: 10px;
}

section:first-child {
    background-color: red;
}

article {
    display: flex;
}