* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box,
.box1 {
    width: 150px;
    height: 150px;
    background-color: green;
}

.box {
    transition-delay: 2s;
}

.box:hover {
    background-color: red;
}