@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* ### Primary */
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);

    /* ### Neutral */

    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    /* Font */
    --LeagueSpartanFont: 'League Spartan', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--LeagueSpartanFont);
}

main {
    padding: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Info */
.info {
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info .text {
    width: 425px;
}

.info .text h1 {
    padding-bottom: 25px;
    font-size: 52px;
    font-weight: 700;
    color: var(--VeryDarkMagenta);
}

.info .text p {
    font-size: 18px;
    font-weight: 300;
    color: var(--DarkGrayishMagenta);
}

/* Rating */
.rating {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rating .rate-item {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--LightGrayishMagenta);
    border-radius: 5px;
}

.rating .rate-item p {
    width: auto;
    font-size: 18px;
    font-weight: 700;
    color: var(--VeryDarkMagenta);
}

.rating .item1 {
    align-self: flex-start;
}

.rating .item2 {
    align-self: center;
}

.rating .item3 {
    align-self: flex-end;
}

.rating .stars {
    width: 150px;
    text-align: left;
}

/* Testimonials */
.testimonials {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.testimonials .card {
    width: 334px;
    padding: 30px;
    color: var(--White);
    background-color: var(--VeryDarkMagenta);
    border-radius: 10px;
}

.testimonials .card .user {
    padding-bottom: 30px;
    display: flex;
    gap: 25px;
}

.testimonials .card .user img {
    width: 35px;
    border-radius: 50%;
}

.testimonials .card .user p {
    font-weight: 400;
}

/* attributes section  */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
