* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box,
.box1 {
    width: 150px;
    height: 150px;
    background-color: green;
}

.box {
    transition-duration: 5s;
}

.box:hover {
    background-color: red;
}

.box1 {
    transition-duration: 2s;
}

.box1:hover {
    background-color: yellow;
}

button {
    border: none;
    background-color: red;
    padding: 20px 30px;
    transition-duration: 2s;
}

button:hover {
    color: white;
    background-color: red;
    border-radius: 10px;
}