* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-size: 3rem;
    color: #fff;
}

.container {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    /* grid-auto-flow: row; */ /* by default */
    /* grid-auto-rows: 100px; */ /* cada nuevo contenedor toma un valor de 100px por defecto */
    /* grid-auto-flow: column; */
    /* grid-auto-columns: 100px; */ /* cada nuevo contenedor toma un valor de 100px por defecto */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: red;
}

.box-1 {
    justify-self: flex-start;
}

.box-3 {
    justify-self: flex-end;
}

.box-7 {
    justify-self: flex-end;
}

.box-9 {
    justify-self: flex-start;
}