.container {
    width: 100%;
    height: 900px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: space-evenly; /* (X Axis) */
    /* align-items: center; */ /* (Y Axis) */
    align-content: center;
}

div {
    width: 150px;
    height: 50px;
    background-color: rgb(220, 220, 220);
}