<!DOCTYPE html>
<html>
    <head>
        <title>Entidades Ejemplo 1</title>
        <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
    </head>
    <body>
        <a-scene>
            <a-sky color="#222b50"></a-sky>
            <a-entity id="table" position="0 2 -5" rotation="30 40 0" scale="1 1 1"
             
             >
                <a-box color="#dff928" depth="1" height="0.5" width="2"></a-box>
                <a-box color="#8B5E3C" depth="0.1" height="1" width="2" position="0 -0.25 0.05"></a-box>
            </a-entity>
        </a-scene>
    </body>
</html>