h1 {
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
}
.box {
    padding: 5px;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: left;
}
.box.serif {
    background-color: #5a189a;
}
.times-font {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-variant: small-caps;
}
.georgia-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
}
.box.sans-serif {
    background-color: #00b4d8;
}
.arial-font {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bolder;
}
.verdana-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.box.monospace {
    background-color: #f15bb5;
}
.courier-font {
    font-family: 'Courier New', Courier, monospace;
}
.box.cursive {
    background-color: #ff8500;
}
.lucida-font {
    font-family: 'Lucida Handwriting', cursive;
}