* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container {
    border: 1px solid blue;
    margin: auto;
    perspective: 700px;
}

.box {
    width: 150px;
    height: 150px;
    transition: 1s;
    background-color: red;
}

.box:hover {
    transform: matrix3d(
        -0.6, 1.34788, 0, 0,
        -2.34788, -0.6, 0, 0,
        0, 0, 1, 0,
        0, 0, 10, 1); /* (rotate3d(), rotateX(), rotateY(), rotateZ(), translate3d(), translateZ(), scale3d(), scaleZ(), and perspective().) */
}