* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background-carretera.jpg);
    background-repeat: no-repeat;
    background-size: 2800px 1000px;
}

img {
    width: 400px;
    margin-top: 550px;
    position: relative;
    animation-name: carMove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.72, 0.39, 0, 1.01);
    animation-fill-mode: none;
}

@keyframes carMove {
    0% {
        left: -500px;
    }
    100% {
        left: 3000px;
    }
}