* {
    margin: 0;
    padding: 0;
}
h1 {
    color: #f72585;
    text-align: center;
    margin: 15px;
}
h2 {
    color: #3f37c9;
}
p {
    color: #457b9d;
}
.card {
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 10px 115px;
    padding: 15px;
}
.title {
    color: #f72585;
    font-weight: bold;
}