html {
    height: auto;
    min-height: 100%;
}
body {
    /*background: linear-gradient(#f72585, #3a0ca3);*/  /* By default is vertical (from top to bottom) */
    /*background: linear-gradient(to right, #f72585, #3a0ca3);*/  /* Direction: to right */
    /*background: linear-gradient(#24404d, #6dbff1, black); */  /* Adding 3 colors to gradient */
    /*background: linear-gradient(to bottom right, #f72585, #3a0ca3);*/  /* Diagonal gradient (from top left to bottom right) */
    /*background: linear-gradient(145deg, #f72585, #3a0ca3);*/  /* Direction is set by degrees 145° */
    background: radial-gradient(circle, #0d47a1, #42a5f5); /* From the center out */
    color: #f1faee;
}
h1 {
    text-align: center;
}
div.container {
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    text-align: center;
}
img {
    width: 50%;
}